@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Main */

:root 
{
	--text-color: #e1e1e1;
	--accent-color: #9d7cff;
	--bg-color: black;
}

html, body {
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;

	color: var(--bg-color);
	background-color: var(--bg-color);
}

/* Scrollbar */

body::-webkit-scrollbar {
	width: 5px;
}
 
body::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
}

/* Top */

#top {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
	
	margin: 20px;
	text-align: center;
	background-color: var(--bg-color);
	outline: solid 1px var(--accent-color);
	word-spacing: 10px;
	font-weight: bold;
}

#link {
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;

	color: var(--text-color);
	font-family: "Nunito";
	font-size: 48px;
	text-decoration: none;
}

#link:hover {
	color: var(--accent-color);
}

/* Middle */

#middle {
	display: flex;
	flex-flow: wrap;
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
	align-self: center;
	align-content: center;
	padding: 10px;
	background-color: var(--bg-color);
}

#text::selection {
	background-color: var(--accent-color);
}

#text::moz-seletion {
	background-color: var(--accent-color);
}

#text {
	color: var(--text-color);
	font-family: "Nunito";
	font-size: 32px;
}

#text1 {
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;

	color: var(--text-color);
	font-family: "Nunito";
	font-size: 32px;
	text-decoration: none;
}

#script {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	margin: 15px;
	padding: 20px;
	width: 46.2754421%;
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;


	align-itemsg: center;
	text-align: center;
	background-color: var(--bg-color);
	outline: solid 1px var(--accent-color);
}

#script img{
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;

	outline: solid 1px var(--accent-color);
}

#script:hover {
	outline: solid 3px var(--accent-color);
}

#script:hover p{
	color: var(--accent-color);
}

#script:hover img{
	outline: solid 3px var(--accent-color);
}
