body {
	background-color: #151515;
}

p {
	color: #ffffff;
	font-family: "Roboto";
	font-weight: lighter;
	text-align: center;
}

h1 {
	color: #ffffff;
	font-family: "Roboto";
	text-align: center;
	margin-top: 80px;
}

a {
	color: #ffffff;
	font-family: "Roboto";
	text-decoration: none;
}

img {
	width: 60px;
	height: 60px;
	margin-top: auto;
	margin: 10px;
}

.main {
	width: auto;
	height: auto;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50.2%);
    text-align: center;
}

::placeholder {
	color: #909090;
}