@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

@keyframes fadein 
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

body 
{
	opacity: 1;
	background-color: rgb(21, 21, 21);
	animation: fadein 2.5s;
}


.main, .top
{
	margin: 10px;
	background-color: rgb(21, 21, 21);
	border-style: solid;
	border-color: rgb(40, 40, 40);
	border-radius: 10px;
	border-width: 2px;
}

.main, .top
{
	size: 50px;
	background-color: rgb(21, 21, 21);
	border-style: solid;
	border-color: rgb(40, 40, 40);
	border-radius: 10px;
	border-width: 2px;
}

.main
{
	text-align: center;
}

.top
{
	word-spacing: 50px;
	font-size: 30px;
	text-align: center;
}

p, a, h1, li
{
	color: rgb(230, 230, 230);
	font-family: 'Epilogue', sans-serif;
}

li
{
	color: rgb(130, 130, 130);
	font-size: 12px;
}

a
{
	font-weight: 400;
	text-decoration: none;
	align-items: center;
}

a:hover
{
	font-weight: bold;
}

img 
{
	margin: 10px;
	height: 50px;
	width: 50px;
	transition: background 2s;
}

img:hover 
{
	background: url(images/hover.png);
	background-size: 50px 50px;
}

::selection
{
	background: rgb(230, 230, 230);
}